<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>
            {%- block title -%}
                물레
            {%- endblock -%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <h1>
        <a href="{{ url_for('user.home') }}">물레</a>
    </h1>
    <p>익명 타임라인</p>
    {% block random_tags %}
        {% from 'macros.html' import list_tags %}
        {% if random_tags %}
            <div id="random">
                <p>
                    <a href="{{ url_for('tag.random') }}">랜덤</a>
                    <a href="{{ url_for('tag.tags') }}">태그</a>:
                </p>
                {{ list_tags(random_tags) }}
            </div>
        {% endif %}
    {% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
{% block javascript_loadings %}
    <script src="https://fb.me/react-0.14.8.js"></script>
    <script src="https://fb.me/react-dom-0.14.8.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/stream.js') }}"></script>
{% endblock %}
<script>
    {% block trailing_javascript %}
    {% endblock %}
</script>
</body>
</html>
