<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>
            {%- block title -%}
                물레
            {%- endblock -%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <h1>
        <a href="{{ url_for('user.home') }}">물레</a>
    </h1>
    <p>익명 타임라인</p>
    {% block random_tags %}
        {% from 'macros.html' import list_tags %}
        {% if tags %}
            <div id="random">
                <p>랜덤 태그:</p>
                {{ list_tags(tags) }}
            </div>
        {% endif %}
    {% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
</body>
</html>
